<div class="app-wrapper">
    <div class="layout-grid">
      <app-camera-recorder
        [quality]="(quality$ | async)!"
        (videoRecorded)="onVideoRecorded($event)"
        (qualityChanged)="onQualityChanged($event)"
      >
      </app-camera-recorder>

      <app-video-sidebar
        class="sidebar-area"
        [videos]="(videos$ | async)!"
        (playVideo)="videoToPlay = $event"
        (deleteVideo)="videoToDelete = $event"
      >
      </app-video-sidebar>
    </div>
</div>
@if (videoToDelete !== null) {
  <app-delete-modal (cancel)="videoToDelete = null" (confirm)="onDeleteConfirmed()">
  </app-delete-modal>
}
@if (videoToPlay) {
  <app-video-player-modal [videoBlob]="videoToPlay" (close)="videoToPlay = null">
  </app-video-player-modal>
}
