<div class="app-wrapper">
  @if (isInitializing) {
    <div class="layout-grid skeleton-grid">
      <div class="skeleton-box camera-skeleton">
        <div class="spinner"></div>
      </div>
      <div class="skeleton-box sidebar-skeleton"></div>
    </div>
  } @else {
    <div class="layout-grid">
      <app-camera-recorder
        class="camera-area"
        [quality]="(quality$ | async)!"
        (videoRecorded)="onVideoRecorded($event)"
        (qualityChanged)="onQualityChanged($event)"
      >
      </app-camera-recorder>

      <app-video-sidebar
        class="sidebar-area"
        [videos]="(videos$ | async)!"
        (playVideo)="videoToPlay = $event"
        (deleteVideo)="videoToDelete = $event"
      >
      </app-video-sidebar>
    </div>
  }
</div>

